@use "../global/variables" as *;
@use "../global/mixins";

.track-table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    text-overflow: ellipsis;
    margin: 0 0 20px 0;

    @include mixins.vp-767 {
        border-collapse: separate;
        border-spacing: 0 20px;
    }

    &__header {
        background-color: transparent;
        font-size: 12px;
        line-height: 29px;
        font-weight: 400;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: $color-dark-gray;
        border-bottom: 1px solid $color-dark-gray;

        @include mixins.vp-767 {
            display: none;
        }
    }

    &__col {
        position: relative;
        padding: 8px;

        &:nth-child(1) {
            width: 4%;
        }

        &:nth-child(2) {
            width: 40%;
        }

        &:nth-child(3) {
            width: 27%;
        }

        &:nth-child(4) {
            width: 20%;
        }

        &:nth-child(5) {
            width: 44px;
        }

        &:nth-child(6) {
            width: 56px;
        }

        &:nth-child(7) {
            width: 43px;
        }

        @include mixins.vp-767 {
            padding: 0;

            &:nth-child(2) {
                width: 100%;
            }

            &--number,
            &--album,
            &--date,
            &--duration {
                display: none;
            }
        }
    }

    &__row {
        height: 88px;
        cursor: pointer;
        border-bottom: 1px solid $color-dark-gray;

        @include mixins.vp-767 {
            height: 70px;
            background-color: $color-white;
            border: none;
        }
    }
}