@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: variables.$ff-main;
  font-style: normal;
  font-weight: 400;
  color: variables.$color-verdun-green;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 69px 0 0;
  background-color: variables.$color-light-grey;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: variables.$color-verdun-green;
  text-decoration: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
