/* Fonts */
/* ------------------------------------ */
$ff-main: "Actor", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #ffffff;
$color-black: #000000;
$color-black-25: rgba(0, 0, 0, 0.25);
$color-light-black: #171717;
$color-smooth-black: #11253D;
$color-verdun-green: #475009;
$color-fruit-salad: #52A345;
$color-daisy-bush: #502198;
$color-saltpan: #F5F7F2;
$color-solitude: #F4F6FA;
$color-salmon: #FF7373;
$color-dark-salmon: #FC6D3E;
$color-pink-swan: #B7B7B7;
$color-dark-gray: #A4A4A4;
$color-smooth-gray: #AAAAAA;
$color-smart-grey: #E8E8E8;
$color-dark-gray-2-40: rgba(173, 173, 173, 0.4);
$color-tara-80: rgba(222, 236, 221, 0.8);
$color-verdun-green-70: rgba(71, 80, 9, 0.70);
$color-fruit-salad-70: rgba(82, 163, 69, 0.70);
$color-light-grey: #F5F5F5;

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 1439px;
$vp-middle: 870px;
$vp-mobile: 767px;

/* Transition */
/* ------------------------------------ */
$transition-300: 300ms;
$transition: ease-in 0.3s;