.audio {
    &__wrapper {
        display: flex;
        gap: 0;
        align-items: stretch;
        margin: 0 -30px;

        @include vp-767 {
            flex-direction: column;
            margin: 0 -16px;
            gap: 0;
        }
    }

    &__gallery {
        padding: 35px 0 35px 30px;
        width: 100%;
        background-color: $color-white;

        @include vp-767 {
            padding: 0 16px;
            background-color: $color-light-grey;
        }

        &-heading {
            margin: 0 0 22px;
            font-size: 30px;
            line-height: 100%;
            font-weight: 400;
            color: $color-smooth-black;

            @include vp-767 {
                display: none;
            }
        }
    }

    &__pagination {
        list-style: none;
        padding: 0;
        margin: auto 0;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        &-btn {
            border: 1px solid transparent;
            background-color: transparent;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            padding: 10px;
            border-radius: 50%;
            min-width: 49px;
            min-height: 49px;
            cursor: pointer;
            transition: all ease-in 300ms;

            &:hover:not(:disabled),
            &:focus-visible:not(:disabled) {
                border-color: $color-dark-salmon;
                background-color: $color-dark-salmon;
            }
        }

        @include vp-767 {
            display: none;
        }
    }
}