.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__btn {
      border: none;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      transition: background-color $transition-300;
      width: 100%;

      &:hover,
      &:focus-visible {
        outline: none;
        background-color: $color-dark-salmon;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 12px;
      font-weight: 400;
      letter-spacing: 0.01em;
      color: $color-light-black;
    }
}