.user-btn {
    margin: 0;
    padding: 6px 10px 5px;
    border-radius: 30px;
    background-color: $color-light-grey;
    border: none;
    display: flex;
    align-items: center;
    font-family: inherit;
    gap: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color $transition-300;

    @media (max-width: $vp-middle) {
        padding: 0;
        background-color: transparent;
    }

    &__avatar {
        padding: 0;

        @media (max-width: $vp-middle) {
            padding: 0;
        }
    }

    &__picture {
        width: 100%;
        height: 100%;
    }

    &__name {
        font-size: 14px;
        line-height: 12px;
        font-weight: 400;
        letter-spacing: 0.01em;
        color: $color-light-black;
        width: 100%;
        text-align: left;

        @media (max-width: $vp-middle) {
            font-size: 12px;
        }
    }

    &__icon {
        @media (max-width: $vp-middle) {
            display: none;
        }
    }

    &:hover,
    &:focus-visible {
        outline: none;
        background-color: $color-dark-salmon;
    }
}